<%= javascript_include_tag :fckeditor %>


<% form_for @opinion, :url => member_opinion_path(@member.id), :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  Язык <%= Localedb.global.short %><br>
  Автор  <%= @member.name %>

  <p>
    <%= f.label 'Текст' %><br />
    <%= fckeditor_textarea(:opinion, :body, :toolbarSet => 'Simple', :width => '70%', :height => '200px') %>
  </p>
  
  
  <p>
    <%= f.submit "Сохранить" %>
  </p>
<% end %>

