
Язык <b><%=Localedb.global.short%></b>

<% form_for(@status) do |f| %>
  <%= f.error_messages %>

  
  <p>
    <%=ident_choice(@status)%>
  </p>

  <p>
    <%= f.label 'Название статуса (отображение в списке)' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label 'Название статуса (отображение у члена GST)' %><br />
    <%= f.text_field :status_name %>
  </p>
  
  <p>
    <%= f.label 'порядковый номер отображения в списке' %><br />
    <%numbers=[]; 1.upto(Status.count+(@status.new_record?? 1:0)) {|i| numbers << i}%>
    <%= f.select(:number, numbers) %>
  </p>

  <p>
    <%= f.submit "Сохранить" %>
  </p>
<% end %>

