<%= javascript_include_tag :fckeditor %>
<%= javascript_include_tag 'jquery.validate.min.js' %>
<%= javascript_include_tag 'validate_localization/messages_ru.js' %>
<%= javascript_include_tag 'own.validate.js' %>

Язык <%= Localedb.global.short %><br>

<% form_for([@magazine,@article], :html => { :multipart => true} ) do |f| %>
  <%= f.error_messages %>
  
  <p>Источник "<%= @magazine.name %>"</p>

  <p>
    <%=ident_choice(@article)%>
  </p>
    
  <p>
    <%= f.label 'Название' %><br />
    <%= f.text_field :title, :class =>"required" %>
  </p>

  <p>
    <%= f.label 'Анонс' %><br />
    <%= fckeditor_textarea(:article, :short_text, :toolbarSet => 'Simple', :width => '100%', :height => '220px', :class =>"required") %>
  </p>
  <p>
    <%= f.label 'Текст' %><br />
    <%= fckeditor_textarea(:article, :body, :toolbarSet => 'Simple', :width => '100%', :height => '300px', :class =>"required") %>
  </p>

  <p>
    <%= f.submit "Сохранить" %>
  </p>
<% end %>

