<%= javascript_include_tag :fckeditor %>
<% form_for(@article, :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'Язык' %><br />
    <%= f.select(:lang,   Globalite.ui_locales, {:selected => (@article.lang.to_sym unless @article.lang.nil?)}) %>
  </p>

  <p>
    <%=ident_choice(@article)%>
  </p>
  <p>
    <%= f.label 'Название' %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label 'Анонс' %><br />
    <%= fckeditor_textarea(:article, :short_text, :toolbarSet => 'Simple', :width => '100%', :height => '220px') %>
  </p>
  <p>
    <%= f.label 'Текст' %><br />
    <%= fckeditor_textarea(:article, :body, :toolbarSet => 'Simple', :width => '100%', :height => '300px') %>
  </p>

  <p>
    <%= f.submit "Сохранить" %>
  </p>
<% end %>

