<%=tabs(:tab1=>:article.l("Статья"))%>
<div id="content_right">
  <%= items_list(@article, :attr_name => "title") %>
</div>
<div id="content_main">
<h3 class="inline"><%=h @article.title%></h3> (<%= link_to @article.magazine.name, lang_magazine_path(lang_id(@lang),@article.magazine.ident_name) %>)
<br>
<%= @article.body %>

</div>



  <%content_for(:admin_actions) do%>
     <%= link_to 'Редактировать', edit_article_path(@article) %>
  <%end%>
