<%= javascript_include_tag :fckeditor %>

<%= javascript_include_tag 'jquery.validate.min.js' %>
<%= javascript_include_tag 'validate_localization/messages_ru.js' %>
<%= javascript_include_tag 'own.validate.js' %>

Язык <%= Localedb.global.short %><br>

<% form_for(@jim_article, :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%=ident_choice(@jim_article)%>
  </p>
  <p>
    <%= f.label 'Название' %><br />
    <%= f.text_field :title, :class => "required" %>
  </p>

  <p>
    <%= f.label 'Анонс' %><br />
    <%= fckeditor_textarea(:jim_article, :short_text, :toolbarSet => 'Simple', :width => '100%', :height => '220px') %>
  </p>
  <p>
    <%= f.label 'Текст' %><br />
    <%= fckeditor_textarea(:jim_article, :body, :toolbarSet => 'Simple', :width => '100%', :height => '300px') %>
  </p>

  <p>
    <%= f.submit "Сохранить" %>
  </p>
<% end %>

