<div id="content_main">
<h3 class="inline"><%=h @jim_article.title%></h3> <%= lang_choice(@jim_article) %><br>

<%= @jim_article.body %>

</div>
<div id="content_right">
  <%= countries_list(@jim_article) %>
</div>


  <%content_for(:admin_actions) do%>
     <%= link_to 'Редактировать', edit_jim_article_path(@jim_article) %>
  <%end%>
