<script type="text/javascript">
$(document).ready(function(){
	$(".success_story_full").hide();
	$(".toggle_link").click(function(){$(this).parent().next(".toggle_div").toggle("fast", function(){setHeightAll();}); if ($(this).text()=="<%=:read_more.l("читать далее")%>") {$(this).text("<%=:hide.l("скрыть")%>");} else {$(this).text("<%=:read_more.l("читать далее")%>")}  return false});
});


</script>

        
        <%=tabs(:tab1=>"GST",:tab2=>:news.l("News"),:tab3=>:success_stories.l("Success stories"))%>
        
                <% #  cache(:fragment => 'page1') do
                %>
                <div id="page-1">
                    <%=@page.content%>
                	<div style="clear:both"></div>
                    <div id="projects">
                    	<div id="projects_title">Our projects</div>
                        <div id="projects_body">
                          <% for project in @projects %>
                            <div>
                              <%= link_to (image_tag project.project_photos.logo.first.public_filename(:view)), lang_project_path(lang_id(@lang),project.ident_name) unless project.project_photos.empty?%>
                              <div class="img_description">
                                <%= link_to project.name, lang_project_path(lang_id(@lang),project.ident_name) %>
                              </div>
                          </div>
                          <% end %>
                         </div>
                       </div>
                </div>
                <% #end 
                %>
                <div id="page-2">

                  <div id="top_news">
                    <h2><%=link_to :events_list_name.l(), lang_events_path(lang_id(@lang))%></h2>

                    <%for event in @events%>
                     <%=link_to event.title, lang_event_path(lang_id(@lang),event), :class => "link_title"%>
                    <%=event.short_text%>
                    <br>
                    <%end%>

                </div>
                <div id="top_mass_media">

                        <h2><%=link_to :articles_list_name.l(), lang_articles_path(lang_id(@lang))%></h2>
                        <ul>
                       <%for article in @articles%>
                         <li><%=link_to article.title, lang_magazine_article_path(lang_id(@lang),article.magazine.ident_name, article.ident_name)%></li>
                        <%end%>
                        </ul>
                </div>
                <div style="clear:both"></div>
                <div id="jim_articles">

                <h2><%=:jim_articles.l("Статьи Джима Флетчера")%></h2>
                <%=:jim_articles_text.l%>
                <br />
                <%=link_to :read_more.l("читать далее"), lang_jim_articles_path(lang_id(@lang)) %>
                <p></p><p></p><p></p>
                </div>

                </div>
                <script type="text/javascript">$("#page-2").attr({style:"display:none"})</script>
                <div id="page-3">

                        <%for success_story in @success_stories%>
                        <div  class="success_story">
                        <h3><%=success_story.member.first_name%> (<%=success_story.member.status_additional%><%=success_story.member.statuses.find(:all).collect(&:status_name).join(",")%> <%= ","+success_story.member.city.name %>)</h3>
                        <%= image_tag success_story.member.member_photo.public_filename(:view),  :align=>"left"%>
                          <div class="success_story_short" >
                            <%=success_story.short_text%>
                            <div><a class="toggle_link" href="#"><%=:read_more.l("читать далее")%></a></div>
                            <div class="toggle_div success_story_full">
                            <%=success_story.body%>
                            </div>
                          </div>
                        </div>
                        <%end%>

                        
                       <div style="clear:both"><%=link_to :read_all_stories.l, lang_success_stories_path(lang_id(@lang))%></div>

                 </div>

                   <script type="text/javascript">$("#page-3").attr({style:"display:none"})</script>
            