

<%= javascript_include_tag :fckeditor %>



<script type='text/javascript'>
    function destroy(controller,id){
        $.post("/"+controller+"/destroy/"+id, { },  function(data){
                    
                    } );
    }
</script>

Язык    <%=Localedb.global.short%>
<% form_for @project, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%=ident_choice(@project)%>
  </p>
  <p>
    <%= f.label 'Название' %><br />
    <%= f.text_field :name %>
  </p>

   <p>
    <%= f.label 'Краткое описание' %><br />
    <%= fckeditor_textarea(:project, :short_text, :toolbarSet => 'Simple', :width => '100%', :height => '200px') %>
  </p>

  <p>
    <%= f.label 'Описание' %><br />
    <%= fckeditor_textarea(:project, :description, :toolbarSet => 'Simple', :width => '100%', :height => '300px') %>
  </p>

  <p>
    <%= f.label 'Ссылка на сайт проекта' %><br />
    <%= f.text_field :url %>
  </p>



  <div id="project_photos">
    <%= render :partial => 'existing_project_photo', :collection => @project.project_photos  unless @project.new_record?  %>
  </div>
  <%= add_link 'Добавить фото', 'project_photos' %>

  <p>
    <%= f.submit "Сохранить" %>
  </p>
<% end %>

