
<%=tabs(:tab1=>"Список стран")%>





<table class="admin_table">
<%@locales=Localedb.find(:all)%>
  
<% for country in @countries %>
  <tr>
    <td><%= link_to country.name, country_path(country.ident_name) %></td>
    <td>
      <%@locales.each do |loc|%>
      <%=loc.short%><%= link_to image_tag("/images/edit_ico.gif",:alt=>"Редактировать"), edit_lang_country_path(loc.short,country) %>
      <%end%>
    </td>
    <td><%= link_to image_tag("/images/delete_ico.gif",:alt=>"Удалить"), country, :confirm => 'Подтвердите удаление', :method => :delete %></td>
    <td>
    <a href="#" class="toggle_link">города</a> <%= link_to  image_tag("/images/add_ico.gif",:alt=>"Добавить город"), new_country_city_path(country                                                                                                                                                                                              ) %>
    <div class="toggle_div">
    <table>
      <%  for city in country.cities%>
      <tr>
        <td><%= link_to city.name, lang_country_city_path(lang_id(@lang),country.ident_name, city.ident_name) %></td>
        <td>
          <%@locales.each do |loc|%>
              <%=loc.short%><%= link_to image_tag("/images/edit_ico.gif",:alt=>"Редактировать"), edit_lang_country_city_path(loc.short,country,city) %>
          <%end%>
        </td>
        <td><%= link_to image_tag("/images/delete_ico.gif",:alt=>"Удалить"), city, :confirm => 'Подтвердите удаление', :method => :delete %></td>
      </tr>
      <% end %>
    </table>
    </div>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить страну', new_country_path %>
