<%=tabs(:tab1=>"Страны")%>
<div id="content_right">
  <%= countries_list(@country) %>
</div>
<div id="content_main">
  <h3><%=h ((@country.title unless @country.title.blank? ) || @country.name) %></h3>

<%if map=@country.map %>
<div id="map">
<center>
  <div style="height:<%=map.height%>px; width:<%=map.width%>px; margin:0 0">
      <div style="position:absolute; background:url('<%=map.public_filename%>') no-repeat left top; width:<%=map.width%>px; height:<%=map.height%>px;">
        <% @cities.each do |city| %>
          <div id='city' style="position:absolute; width:40px; height:14px; left:<%=city.city_coord.coord[:left] rescue "0"%>px; top:<%=city.city_coord.coord[:top] rescue "0"%>px; display:block"><%= link_to city.name, lang_country_city_path(lang_id(@lang),@country.ident_name,city.ident_name) %></div>
          <div id='city_marker' style="position:absolute; background:#ccc; width:8px; height:8px; left:<%=city.city_coord.coord[:left_marker] rescue "0"%>px; top:<%=city.city_coord.coord[:top_marker] rescue "0"%>px; display:block">*</div>
         <% end %>
      </div>
    </div>
 </center>
</div>
<%end%>

<%= @country.body %>

</div>



  <%content_for(:admin_actions) do%>
     <%= link_to 'Редактировать', edit_country_path(@country) %>
  <%end%>
