<%= javascript_include_tag :fckeditor %>

<h3>Страна <%=@country.name%> (<%=lang_id(@country.lang)%>)</h3>
<% form_for [@country,@city] do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :lang%>
  <p>
    <%=ident_choice(@city)%>
  </p>
  <p>
    <%= f.label 'Название' %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label 'Текст' %><br />
    <%= fckeditor_textarea(:city, :body, :toolbarSet => 'Simple', :width => '100%', :height => '300px') %>
  </p>

  <p>
    <%= f.label 'Координаты' %><br />
      x:<%= text_field_tag "city[coord][x]", (@city.coord[:x] rescue "")  %>
      y:<%= text_field_tag "city[coord][y]", (@city.coord[:y] rescue "") %>
  </p>

  <p>
    <%= f.submit "Сохранить" %>
  </p>
<% end %>

