<%=tabs(:tab1=>"GST")%>

<div id="content_right">
  <%= countries_list(@city.country) %>
</div>

<div id="content_main">
<h3><%=h @city.name%></h3>

  <%= image_tag @city.city_photos.main.first.public_filename(:view), :align => "left" unless @city.city_photos.empty? || @city.city_photos.main.empty?%>

<%= @city.body %>

<% unless @city.members.with_opinion.empty?%>
  <h3><%= :opinions.l('Opinions') %></h3>
  <%  for member in @city.members.with_opinion %>
    <% opinion = member.opinion %>
    <a href="" class="toggle_link"><%= member.name_view %></a>
    <div class="toggle_div">
    <%= opinion.body %>
    </div>
  <%end%>
<%end%>
</div>


  <%content_for(:admin_actions) do%>
     <%= link_to 'Редактировать', edit_lang_city_path(lang_id(@lang),@city) %>
  <%end%>

